th,
td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #0d6efd;
  color: white;
}

.fixed {
  position: fixed;
  top: 10px;
  left: 10px;
}
